<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %}{{ title }}{% else %}Welcome to Xero Python oauth starter{% endif %}</title>
</head>
<body>
<a href="{{ url_for('index') }}">Index</a> |
<a href="{{ url_for('login') }}">Login</a> |
<a href="{{ url_for('logout') }}">Logout</a> |
<a href="{{ url_for('export_token') }}">Export Token</a> |
<a href="{{ url_for('get_invoices') }}">Invoices</a> |
<a href="{{ url_for('refresh_token') }}">Refresh Token</a> |
<a href="{{ url_for('test') }}">Test Page</a> |
<a href="{{ url_for('educator_view') }}">Educator View</a> |
{% block content %}{% endblock %}
<!--<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>-->
</body>
</html>