{% extends "base.html" %}

{% block content %}
<head>
    <style>
        body {
            background: #ccc;
            font-family: Helvetica, Arial, sans-serif;
            color: #404756;
        }
        .header {
            max-width: 488px;
            max-height: 40px;
            background: white;
            padding: 12px 16px;
            border-bottom: 1px solid rgba(0,10,30,0.2);
            display: flex;
            flex-direction: row;
        }
        .header_text {
            color: #404756;
            line-height: 16px;
            font-size: 10px;
        }
        .header_image {
            padding-top: 10px;
            padding-right: 8px;
        }
        .tabs {
            max-width: 520px;
            display: flex;
            flex-wrap: wrap;
        }
        .tabs input[type="radio"] {
            display: none;
        }
        .tabs .tab_heading {
            padding: 9px 20px;
            background: #e2e2e2;
            font-weight: bold;
            width: 220px;
            text-align: center;
            font-size: 10px;
        }
        .tabs .tab_contents {
            width: 100%;
            padding: 20px;
            background: white;
            order: 1;
            display: none;
        }
        .tabs input[type="radio"]:checked + label + .tab_contents {
            display: block;
        }
        .tabs input[type="radio"]:checked + label {
            background: white;
        }
        .modules_contents {
            font-size: 13px;
            line-height: 24px;
            border-bottom: 1px solid rgba(0,10,30,0.2);
        }
        .marking_box {
            border: 2px solid black;
            padding: 25px;
            max-width: 426px;
        }
        .feedback_box {
            max-width: 428px;
            position: relative;
            font-size: 14px;
            border-radius: 12px;
        }
        #student_result_input {
            max-width: 100px;
            /* text-align: center; */
            margin-left: 50px;
        }
        #student_mark_input {
            max-width: 40px;
            text-align: center;
            margin-left: 50px;
        }
    </style>
</head>

<!-- XERO LEARN MODULES TAB -->
<div class="header">
    <div class="header_text">
        <h2>&#127891; Get to know Xero</h2>
    </div>
</div>
<div class="tabs">
    <input type="radio" id="modules_tab" name="mytabs" checked="checked">
    <label class="tab_heading" for="modules_tab"><h2>Modules</h2></label>
    <div class="tab_contents">
        <div class="modules_contents">
            <p>
                <b>Get to know Xero</b> is a learning module you can work through to become 
                familiar with the core features of the Xero platform.
            </p>
            <ul>
                <li>👉  Please follow the instruction steps and complete the exercises as directed.</li>
                <li>⏳ This course will take you approximately 45mins to complete.</li>
                <li>💻  You can log back into the course using the course link from your email or logging into Xero at xero.com.</li>
                <li>🗓  You have 45 days access to this course from the date enrolled.</li>
                <li>❗️ If you get stuck at any time during this course, there is free 24 hour online help available via Xero Central.</li>
                <li>❓ To access the help articles on Xero Central, click the ? icon in the top right hand corner of the screen and select <b>Get support on Xero Central.</b></li>
                <li>🔎  Search for the topic you’d like help with</li>
            </ul>
            <p>
                <b>We would love your feedback.</b>
            </p>
            <ul>
                <li>We hope you enjoy completing these exercises.</li>
                <li>And learn more about Xero! 👏</li>
            </ul>
        </div>
        <div class="modules_contents">
            <p>
                <b>Steps</b> 5 of 19 complete
            </p>
        </div>
        <div class="modules_contents">
            <h2>6️⃣ Invoicing</h2>
        </div>
        <div class="modules_contents">
            <p>
                📚 One of Xero Electrical’s customers, <b>Bayside Club</b> phoned to request a 
            delivery of 11 silver light fittings. The package is ready to be sent out 
            and you have been asked to raise the invoice.
            </p>
            <p>
                Looking at the <b>price list</b> for light fittings we can see the following:
            </p>
            <ul>
                <li>Silver Light Fittings - $12.50 each</li>
                <li>Callout Fee - $75.00 each</li>
                <li>Delivery Fee - $35.00 each</li>
            </ul>
            <p>
                A <b>20% discount</b> on the <b>callout fee</b> was offered and is to be deducted from the 
                price above. 
            </p>
            <p>
                Using the date <b>10 Feb 2021</b>, create and approve the <b>sales invoice</b>. Payment 
                is due <b>7 days</b> from job completion.
            </p>
            <p>
                ⚡️ <b>Activity 6.1</b>
            </p>
            <ol>
                <li>From the Dashboard, click on the <b>New sales invoice</b> button.</li>
                <li>Complete the invoice details as follows.</li>
                <li><b>Customer:</b> Bayside Club. Select <b>10 Feb 2021</b> as the date and <b>+7</b> in the due date to create a due date of 17 Feb 2021</li>
                <li>Leave the invoice number as the default.</li>
                <li>Populate the <b>descriptions</b>, <b>quantities</b>, and <b>unit price</b> for the Silver light fittings and callout fee lines</li>
                <li><i>(leave the <b>Item</b> cell blank, and exclude the delivery fee line. We will cover this in the next step as you setup an inventory item).</i></li>
                <li>Don't forget to record a <b>20% discount</b> against the callout fee.</li>
                <li>Code to the accounts as follows:</li>
                <li>Silver Light Fittings - <b>Electrical Sales (201)</b></li>
                <li>Callout Fee - <b>Callout Fees (208)</b></li>
            </ol>
            <p>
                For the delivery fee, we will <b>create an untracked inventory item</b>, as this is a charge that we include on most invoices.
            </p>
            <p>
                ⚡️ <b>Activity 6.2</b>
            </p>
            <ol>
                <li>On the third Invoice line, click into the <b>Item</b> field and select <b>+ New Item</b>.</li>
                <li><b>Item Code:</b> Del Fee</li>
                <li><b>Item Name:</b> Delivery Fee</li>
                <li>Leave <b>I purchase this item</b> unticked.</li>
                <li>We'll populate the <b>I sell this item</b> section with the following details:</li>
                <li><b>Unit Price:</b> $35 (this is a standard charge)</li>
                <li><b>Sales Account:</b> Delivery Fees (Code 209)</li>
                <li><b>Tax Rate:</b> leave as the default 'tax rate = No'</li>
                <li><b>Sales Description</b> (this is what will appear on your invoices): Delivery Fee</li>
                <li>Leave <b>I track this item</b> unticked.</li>
                <li>Select <b>Save</b></li>
                <li>Complete line 3 of the invoice for the Delivery Fee.</li>
            </ol>
            <ul>
                <li><i>Delivery Fee - <b>Delivery Fee (209)</b></i></li>
            </ul>
            <p>
                ✅ Great work
                <br>
                📘 Learn more about Invoicing in Xero
            </p>
        </div>
    </div>
    
<!-- MARKING & FEEDBACK TAB -->
    <input type="radio" id="feedback_tab" name="mytabs">
    <label class="tab_heading" for="feedback_tab"><h2>Results & Feedback</h2></label>
    <div class="tab_contents">
        <form method="POST">
            <label for="moduleselectbox">Select a Xero Learn module:</label>
            <input list="modules_list" name="moduleselectbox">
                <datalist id="modules_list" name="moduleselectbox">
                    <option value="Module 1: Overview of the Xero Platform">
                    <option value="Module 2: Xero Electrical">
                    <option value="Module 3: Changing Organisational Details">
                    <option value="Module 4: Chart of Accounts">
                    <option value="Module 5: The Xero Dashboard">
                    <option value="Module 6: Invoicing">
                    <option value="Module 7: Recording Receipts and Payments...">
                    <option value="Module 8: Cash Coding">
                    <option value="Module 9: Part Payments">
                    <option value="Module 10: Prepayments">
                </datalist>
            <button>🡆</button>
        </form>
        <form method="POST">        <!-- This is more likely a GET request as this area will display the invoice data  -->
            <div class="marking_box">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Insert Invoice ID" id="floatingTextarea" style="height: 100px" name="input_invoice_id"></textarea>
                    <label for="floatingTextarea">Invoice ID</label>
                </div>
                <!-- <div class="form-group">               predefined modules available for selection
                    <select multiple="" class="form-select" id="moduleselectbox" name="moduleselectbox">
                        <option value='55181e42-eb6f-4cd2-bd0a-58083983c3c6'>Module 6: Invoicing</option>
                        <option value='7be9956d-5316-4f6b-a66a-d355b3f159b2'>Module 7: Invoicing</option>
                        <option value='94a6c052-bfbc-4015-b50b-5d67b8ced945'>Module 8: Invoicing</option>
                    </select>
                </div> -->
                <br><input type="submit" value="Submit" class="btn btn-secondary">
                <h3>
                    <u>Activity 6.1</u>
                </h3>
                <table>
                    <tr>
                        <th></th>
                        <th>Your Answer</th>
                        <th>Grade</th>
                    </tr>
                    <!-- 
                    Activity 6.1:
                        Result 1: Quantity = 11.00
                        Result 2: Callout Fee Discount = 20
                        Result 3: Silver Light Fittings Amount AUD = 137.50
                        Result 4: Callout Fee Amount AUD = 60.00
                    Activity 6.2:
                        Result 1: Delivery Amount AUD = 35.00
                        Result 2: Tax Rate = No
                        Result 3: Invoice total = 232.50
                -->
                    <tr>
                        <td>Light Fittings Quantity</td>
                        <td><input type="text" id="student_result_input" name="Result_61_1_result" value="$49.99" readonly></td>
                        <td><input type="text" id="student_mark_input" name="Result_1_mark" value="5" readonly></td>
                    </tr>
                    <tr>
                        <td>Callout Fee Discount</td>
                        <td><input type="text" id="student_result_input" name="Result_61_2_result" value="$20" readonly></td>
                        <td><input type="text" id="student_mark_input" name="Result_2_mark" value="2" readonly></td>
                    </tr>
                    <tr>
                        <td>Light Fittings Amount</td>
                        <td><input type="text" id="student_result_input" name="Result_61_3_result" value="30" readonly></td>
                        <td><input type="text" id="student_mark_input" name="Result_3_mark" value="5" readonly></td>
                    </tr>
                    <tr>
                        <td>Callout Fee Amount</td>
                        <td><input type="text" id="student_result_input" name="Result_61_4_result" value="$34.00" readonly></td>
                        <td><input type="text" id="student_mark_input" name="Result_4_mark" value="4" readonly></td>
                    </tr>
                </table>
                <h3>
                    <u>Activity 6.2</u>
                </h3>
                <table>
                    <tr>
                        <td>Delivery Amount</td>
                        <td><input type="text" id="student_result_input" name="Result_62_1_result" value="$49.99" readonly></td>
                        <td><input type="text" id="student_mark_input" name="Result_1_mark" value="5" readonly></td>
                    </tr>
                    <tr>
                        <td>Tax Rate</td>
                        <td><input type="text" id="student_result_input" name="Result_62_2_result" value="$20" readonly></td>
                        <td><input type="text" id="student_mark_input" name="Result_2_mark" value="2" readonly></td>
                    </tr>
                    <tr>
                        <td>Invoice Total</td>
                        <td><input type="text" id="student_result_input" name="Result_62_3_result" value="30" readonly></td>
                        <td><input type="text" id="student_mark_input" name="Result_3_mark" value="5" readonly></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th>Total Marks: </th>
                        <td></td>
                    </tr>
                </table>
                <br>
                <h3>
                    <u>Educator Feedback</u>
                </h3>
                <!-- Text in the Feedback box is just a placeholder at the moment, it will be filled with the appropriate 
                    pre-set feedback based on the student's marks -->
                <dialog open class="feedback_box" readonly>
                    <b>Result 1:</b> Great job! No feedback needed.
                    <br>
                    <b>Result 2:</b> This one wasn't quite right. Remember to add in 'x' and consider 'y'.
                    <br>
                    <b>Result 3:</b> Great job! No feedback needed.
                    <br>
                    <b>Result 4:</b> You're almost there! Double check the value you've written here.
                </dialog>
            </div>
        </form>
    </div>
</div>





<!-- <form method="post">
    <div class="form-group">
        <div class="form-floating">
            <textarea class="form-control" placeholder="Insert Invoice ID" id="floatingTextarea" style="height: 100px" name="input_invoice_id"></textarea>
            <label for="floatingTextarea">Invoice ID</label>
        </div>
        <div class="form-group">    predefined modules available for selection -->
            <!-- <label for="moduleselectbox">Select a city from the list</label>
            <select multiple="" class="form-select" id="moduleselectbox" name="moduleselectbox">
                <option value='55181e42-eb6f-4cd2-bd0a-58083983c3c6'>Module 6: Invoicing</option>
                <option value='7be9956d-5316-4f6b-a66a-d355b3f159b2'>Module 7: Invoicing</option>
                <option value='94a6c052-bfbc-4015-b50b-5d67b8ced945'>Module 8: Invoicing</option>
            </select>
        </div>
        <br><input type="submit" value="Submit" class="btn btn-secondary">
    </div>
</form> -->
{% endblock %}